body {
    font-family: Monospace;
  }
  input {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1.2rem;
      padding: 12px 20px;
      font-family: Monospace;
  }
  input:invalid {
      box-shadow: 0 0 5px 1px red;
  }
  textarea:invalid {
      box-shadow: 0 0 5px 1px red;
  }
  input:active{
      box-shadow: 0 0 5px 1px rgb(104, 154, 235);
      border: none;
  }
  input:focus-visible, textarea:focus-visible {
      box-shadow: 0 0 5px 1px rgb(104, 154, 235);
      outline: none;
      border: 1px solid #ccc;
  }
  textarea {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      font-size: 1.2rem;
      border: 1px solid #ccc;
      padding: 12px 20px;
  }
  label {
      display: inline-block;
      width: 30%;
      margin-right: 10%;
      font-size: 1.2rem;
  }
  label[for=textInput] {
      position:relative;
  }
  .inputContainer {
      width: 100%;
      height: 600px;
  }
  .formContainer {
      padding: 10px;
      background-color: rgb(238, 238, 238);
      border-radius: 10px;
      width: 80%;
      margin: auto;
      height: 100%;
  }
  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 100%;
  }
  h1 {
      text-align: center;
  }
  .formField {
      width: 90%;
      margin: 30px;
      display: flex;
      max-height: 40%;
  }
  .formField.letter {
      height: 10%;
  }
  input[type=checkbox] {
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      margin: 0;
      cursor: pointer;
  }
  label[for=case] {
      width: 30%;
      margin-right: 10%
  }
  .buttonfield{
      display: flex;
      justify-content: center;
  
  }
  button {
      width: 70%;
      height: 40px;
      background-color: rgb(42, 121, 42);
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
  }
  button:hover {
      background-color: rgb(95, 207, 95);
  }
  .error {
    position: absolute;
    margin-bottom: 5px;
    color: red;
    top: -20px;
  }
  .letterInput, .textInput {
    width: 60%;
    position: relative;
  }